:root {
  --run-color: forestgreen;
  --load-color: darkgoldenrod;
  --save-color: indianred;
  --copy-color: forestgreen;
}

body
{
  overflow: hidden;
}

#python-container button, #copied-alert, a.my-button
{
  font-family: 'Varela Round', Arial, sans-serif !important;
}

#python-container
{
  float: right;
  height: 100vh;
  width: 25vw;
}

#python-div
{
  height: 100%;
  background-color: #222;
  color: lightgreen;      
  font-family: monospace;
  font-weight: bold;
  width: inherit;
  resize: none;
  white-space: pre;
  border: none;
  padding: 0px;
}

#blocklyDiv
{
  height: calc(100vh - 17px);
  width: 75%;
}

.CodeMirror
{
  height: calc(100vh - 17px);
}

@keyframes alert {
  0% {opacity: 0;}
  1% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0;}
}

a.my-button, #copied-alert
{
  position: absolute;
  z-index: 100000;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  height: 33px;
  overflow: hidden;
  transition: 0.3s;
}

a.my-button
{
  width: 33px;
  z-index: 100000;
}

a.my-button:hover, #copied-alert
{
  width: 20vw;
}

a.my-button > *, #copied-alert > *
{
  color: white;
  opacity: 0.7;
}

a.my-button .icon, #copied-alert .icon
{
  display: inline-block;
  font-size: 16pt;
  text-align: center;
  width: 35px;
  height: 35px;
  padding-top: 3px;
  border-radius: 33px;
  border-width: 5px;
  position: relative;
  top: -2px;
  left: -1px;
}

a.my-button .icon i, #copied-alert .icon i
{
  position: relative;
  top: 3px;
}

a.my-button .text, #copied-alert .text
{
  font-size: 14pt;
}

#load-blocks-button, #save-blocks-button, #run-blocks-button
{
  right: calc(25vw + 10px);
}

#save-python-button, #copy-python-button, #copied-alert
{
  right: 10px;
}

#save-python-button, #save-blocks-button
{
  border-color: var(--save-color);
  background-color: var(--save-color);
}

#run-blocks-button
{
  border-color: var(--run-color);
  background-color: var(--run-color);
  top: 10px;
}

#run-blocks-button .icon i
{
  top: 4px;
  left: 1px;
}

#load-blocks-button
{
  border-color: var(--load-color);
  background-color: var(--load-color);
  top: 55px;
}

#save-blocks-button
{
  top: 100px;
}

#save-python-button
{
  bottom: 12px;
}
  
#copy-python-button, #copied-alert
{
  border-color: var(--copy-color);
  background-color: var(--copy-color);
  bottom: 57px;
}

#copied-alert
{
  z-index: 100001;
  text-align: center;
  margin: 0px;
  box-shadow: 0px  0px 3px 1px var(--copy-color);  
}

.hidden
{
  opacity: 0;
  display: none;
}

.alert
{
  display: block;
  animation-name: alert;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#excluder
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 100002;
  transition: 0.3s;
}

#skulpt-container
{
  position: absolute;
  z-index: 100003;
  transition: 0.3s;
  background-color: white;
  width: 80vw;
  left: 10vw;
  height: 80vh;
  top: 10vh;
  border-radius: 30px;
}

#skulpt-close-button
{
  top: 10px;
  right: 10px;
  font-size: 43px;
  color: var(--save-color);
  background-color: var(--save-color);
  padding: 0px;
  margin: 0px;
}

#skulpt-close-button:hover
{
  width: 80pt;
}

#skulpt-close-button .icon
{
  font-size: 19pt;
  top: -16px;
}

#skulpt-close-button .text
{
  position: relative;
  top: -16px;
}

#skulpt-console
{
  resize: none;
  position: fixed;
  height: 70vh;
  top: 15vh;
  left: 15vw;
}

#skulpt-console.both
{
  width: 30vw;
}

#skulpt-console.console-only
{
  width: 70vw;
}

#skulpt-console.turtle-only
{
  display: none;
}

#skulpt-canvas
{
  position: fixed;
  width: 400px;
  height: 400px;
  top: calc(50vh - 200px);
  right: calc(30vw - 200px);
  border: solid 1px black;
  border-radius: 4px;
}

#skulpt-canvas.both
{
  top: calc(50vh - 200px);
  right: calc(30vw - 200px);
}

#skulpt-canvas.console-only
{
  display: none;
}

#skulpt-canvas.turtle-only
{
  top: calc(50vh - 200px);
  right: calc(50vw - 200px);
}